<div class="container">
    <div class="card">
      <div class="icon-circle">
        <i class="fa-solid fa-martini-glass"></i>
      </div>
      <h2>Beverages Included</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eos voluptatibus eligendi debitis, ad excepturi aliquid enim, corrupti aperiam esse odio, laudantium voluptatum unde aut porro adipisci quae sunt architecto.
      </p>
      <p class="rd">Read More ></p>
    </div>
  
    <div class="card">
      <div class="icon-circle">
        <i class="fa-solid fa-credit-card"></i>
      </div>
      <h2>Stay First, Pay After!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nulla possimus odit officiis, soluta ab distinctio! Eaque ratione accusantium ad, voluptatum recusandae voluptas ex, fugit officia voluptatem possimus, esse ipsa.
      </p>
      <p class="rd">Read More ></p>
    </div>
  
    <div class="card">
      <div class="icon-circle">
        <i class="fa-solid fa-utensils"></i>
      </div>
      <h2>24 Hour Restourant</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, sapiente mollitia est recusandae placeat illo reprehenderit soluta cupiditate quasi laudantium. Reiciendis ipsam mollitia cumque architecto voluptatem. Aliquam cumque quis eos!
      </p>
      <p class="rd">Read More ></p>
    </div>

    <div class="card">
        <div class="icon-circle">
            <i class="fa-solid fa-droplet"></i>
        </div>
        <h2>Spa Included</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita voluptas cumque earum labore eius dignissimos qui iure perferendis, reprehenderit error est nostrum aliquam et porro atque debitis! Quidem, deserunt sint!
        </p>
        <p class="rd">Read More ></p>
      </div>
    </div>
  